$white: #fff;
$black: #000;
$lightBlue: #f3f6fb;
$primary: #56567b;
$blue: #00418d;
$sky: #668dbb;
$shadow: rgba(191, 207, 236, 0.4);
$darkgray: rgba(68, 68, 68, 0.7);
$red: #ff8989;

$lightGray: #f3f6fb;
$woodsmoke: #0c0d0e;
$dark: #1d1d1e;
$gray: #dedede;
$graysecond: #d9d9d9;
$gold: #ffaa00;
